{
  "extends": "@anthony-ju/stylelint-config",
  "rules": {
    "unit-no-unknown": [
      true,
      {
        "ignoreUnits": [
          "rpx"
        ]
      }
    ],
    "scss/at-import-partial-extension": null
  },
  "ignoreFiles": [
    "src/uni_modules/**"
  ]
}
